{% extends 'base.html' %}

{% block css %}{{block.super}}
{% load static %}
<link rel="stylesheet" href="{% static 'accounts/accounts.css' %}">
{% endblock %}

{% block title %}Login{% endblock %}


{% block content %}
<div class="central-container">
  <h2>Login</h2>
  
  {% if message %}
  <p class="error_message">{{ message }}</p>
  {% endif %}
  <form method="post" class="login_form" action="authenticate/">
    {% csrf_token %}
    <label class="form-element" for="username">Username:</label>
    <input class="form-element" type="text" id="username" name="username">
    <label class="form-element" for="password">Password:</label>
    <input class="form-element" type="password" id="password" name="password">
    <button type="submit" class="btn">Login</button>
  </form>
  <p>Dont have an account? <a class="link" href="http://127.0.0.1:8000/kcaljournal/registrate/">Sign up today!</a></p>
</div>


{% endblock %}