main {
    background-color: white;
    height: 50rem;
}

footer {
    margin-top: 2rem;
}

.login_form {
    height: 40vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 2vh;
    max-width: 15rem;
    
}

.form-element{
    width: 100%;
    margin-top: 2vh;
}


h2 {
    font-weight: bold;
    font-size: 2rem;
    color: #6639A6;
}

label {
    font-size: 1rem;
}

.signup_form {
    height: 43vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    max-width: 15rem;
}