
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}


html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #EEEEEE;
    
}

main {
    min-height: 100vh;
    min-width: 100%;
}

footer {
    background-color: #521262;
    height: 8rem;
}

form {
    justify-content: center;
}

ul {
    padding-inline-start: 0;
    width: 90%;
    text-align: center;
}

li {
    list-style-type: none;
    margin-top: 5px;
}

.nav-bar {
    margin: 0;
    padding: 0;
    background-color: #6FE7DD;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.sub-nav-bar {
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80vw;
}

#sub-nav-link {
    color: #3490DE;
}

#sub-nav-link:hover {
    color: #6639A6;
    transition: 0.5s;
}

.nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    list-style-type: none;
    width: 100%;
}


#left-nav-list {
    flex-direction: row;
}

.nav-item {
    margin-left: 1%;
    margin-right: 1%;
    padding: 0;
}

.nav-link {
    margin-right: 5px;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    text-decoration-line: none;

}

.nav-link:hover {
    color: #3490DE;
    transition: 0.5s;
   
}



.register_food_btn {
    text-decoration: none;
    display: inline-block;
    width: 25vw;
    height: 3.5vh;
    background: #3490DE;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: medium;
}

.register_food_btn:hover {
    color: #3490DE;
    background: white;
    transition: 0.5s;
    cursor: pointer;
    border-width: 1px;
    border-color: #3490DE;
    border-style: solid;
}

.btn {
    background: #3490DE;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.btn:hover {
    color: #3490DE;
    background: #EEEEEE;
    transition: 0.5s;
    cursor: pointer;
}

.foodform {
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
    width: 35%;
}

.foodform input {
    display: block;
}

.foodform p {
    margin: 5px;
}


.central-container {
    width: 98%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: white;
}


.link {
    font-weight: bold;
    text-decoration-line: none;
    color: #6639A6;
}

.link:hover{
    color: #521262;
    transition: 0.2s;
}

.error_message {
    color: red;
}

#nav_journal {
    background-color: #6639A6;
}

#nav_journal_btn {
    background-color: white;
    border-color: #3490DE;
    color: #3490DE;
    align-items: center;
    border: none;
}
#nav_journal_btn:hover{
    color: grey;
    transition: 0.5s;
    cursor: pointer;
}

#submit_btn {
    height: 1.5rem;
    width: 4rem;
    text-align: center;
    line-height: 0;
    padding: 2px;
}

#sub-nav-container{
    display: flex;
    flex-direction: column;
}

#sub-nav-row{
    justify-content: center;
    text-align: center;
}

#nav_btn{
    height: 50%;
    background-color: white;
    color: #3490DE;
    border-color:#3490DE;
    border-width: 2px;
    justify-self: center;
}

#nav_btn:hover{
    color: grey;
    transition: 0.5s;
    cursor: pointer;
}

.nutrition-container{
    display: flex;
    flex-direction: row;
}

.nutrition-column{
    margin-left: 2px;
    margin-right: 2px;
}

.detail-container{
    text-align: center;
}