<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,700&family=Roboto:wght@700&display=swap" rel="stylesheet">


    {% load static %}

    <link rel="stylesheet" href="{% static 'style.css' %}">

    {% block css %}
    {% endblock %}

    <title>Kcaltracker</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <ul class="nav-list" id="left-nav-list">
                <li class="nav-item">
                    {% if user %}
                    <a class="nav-link" href="/kcaljournal/logout/">Logout</a>
                    {% else %}
                    <a class="nav-link" href="/kcaljournal/login/">Login</a>
                    {% endif %}
                </li>
            </ul>
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link" href="/kcaljournal/search/">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/kcaljournal/">Home</a>
                </li>
                
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div></div>
    </footer>
    
</body>
</html>