{% extends 'base.html' %}

{% block css %}{{block.super}}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block content %}

<form method="get">
    <input type="text" id="Search" name="query"
       placeholder="Search">
    <input class="btn" id="submit_btn" type="submit" value="GO">
</form>


<form class="foodentryform" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn" type="submit" value="Save">
</form>


{% endblock %}
