{% extends 'base.html' %}

{% block css %}{{block.super}}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}




{% block content %}

<h1>Welcome {{ username }}</h1>




<div class="sub-nav-bar">
    <a class="btn" id="nav_btn" onClick="navigateDate('Left')" ><</a>
    <form method="get">
        <div id="sub-nav-container">
            <div id="sub-nav-row">
                <label for="date">date:</label>
                <input type="date" id="date" name="day_selected"
           value="{{ day_selected }}">
            </div>
            <div id="sub-nav-row">
                <input class="btn"  id="nav_journal_btn" type="submit" value="GO">
            </div>
        </div>
        
        
    </form>
    
    <a class="btn" id="nav_btn" onClick="navigateDate('Right')" >></a>
</div>

<ul>
    {% for item in nutritional_values %}
    
        <li>{{ item.0 }}, {{ item.1 }}g, {{ item.2 }} kcal</li>
    
        {% endfor %}
</ul>
    

<h2>Nutrition: </h2>
<div class="nutrition-container">
    <div class="nutrition-column">
        <p>Calories: {{ totals.0 }}</p>
        <p>Sugar: {{ totals.4 }}</p>
        <p>Fibre: {{ totals.5 }}</p>
    </div>
    <div class="nutrition-column">
        <p>Protein: {{ totals.1 }}</p>
        <p>Carbohydrates: {{ totals.2 }}</p>
        <p>Fat: {{ totals.3 }}</p>
    </div>
</div>

    <a class="register_food_btn" href="add_entry/">Add food</a>
{% endblock %}