{% extends 'base.html' %}

{% block css %}{{block.super}}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}




{% block content %}

<h1>Welcome {{ username }}</h1>




<div class="sub-nav-bar">
    <a class="btn" id="nav_journal" href=""><</a>
    <form method="get">
        <label for="date">date:</label>
        <input type="date" id="date" name="day_selected"
           value="{{ day_selected }}">
        <input class="btn"  id="nav_journal_btn" type="submit" value="GO">
    </form>
    
    <a class="btn" id="nav_journal" href="">></a>
</div>

<ul>
    {% for item in nutritional_values %}
    
        <li>{{ item.0 }}, {{ item.1 }}g, {{ item.2 }} kcal</li>
    
        {% endfor %}
</ul>
    

<h2>Nutrition: </h2>
<a> Calories: {{ totals.0 }}, Protein: {{ totals.1 }} , Carbohydrates: {{ totals.2 }}, Fat: 
    {{ totals.3 }}, Sugar: {{ totals.4 }}, Fibre: {{ totals.5 }},</a>

    <a class="register_food_btn" href="add_entry/">Add food</a>
{% endblock %}